name: PHP Composer

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Run test suite
        run: composer run-script test

  deploy:

    runs-on: ubuntu-latest

    needs: build

    steps:
      - name: ssh key generate
        run: echo ”$SSH_PRIVATE_KEY” ＞ key && chmod 600 key
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: ssh deploy
        run: ssh -i key -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no $SSH_HOST ’cd www/todo && git pull && composer install --no-dev’
        env:
          SSH_HOST: ${{ secrets.SSH_HOST }}
